In [1]:
employeel_name="waqas"
employeel_age=25
employeel_gender="male"

list is heterogeneous but homogenius is in itand list is ordered #list is in square brackets[]

In [2]:
employee1=["waqas",25,"male"]
type(employee1)

list

In [3]:
employee2=["faizan",22,"male"]

In [4]:
employee=[]
type(employee)

list

In [17]:
employee.append("faizan")                                                   #append stands for:
employee.append(22)                                                        #to add something in employee
employee.append("male")

In [18]:
employee

['faizan',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male']

In [12]:
employee.append(350000)               #the thing which is added will add in end

In [13]:
employee                                                   #error due to double add

['faizan', 22, 'male', 350000, 'faizan', 22, 'male', 350000]

In [19]:
employee[0]

'faizan'

In [20]:
employee2[1]

22

In [21]:
employee

['faizan',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male']

# list has two types of indexing
1. positive indexing. it starts from 0 i.e from left to right
2. negative indexing . it stats from -1 i.e from right to left

In [22]:
employee[-1]

'male'

In [23]:
employee[-3]

'faizan'

In [24]:
employee[-2]

22

# negative indexing is useful when u want to get data from ending

# slicing :

# as we get a slice out from pizzza
# to get some data from list 
# it will be in order

In [40]:
employee[1:4]           #it will get out data between 1 to 4 and,4 will be ignored

[22, 'male', 350000]

In [41]:
employee[1:3]

[22, 'male']

In [42]:
employee[-3:0]

[]

In [43]:
employee[-3:-1]                            # signs should be same

['faizan', 22]

In [44]:
employee[:-1]

['faizan', 22, 'male', 350000, 'faizan', 22, 'male', 350000, 'faizan', 22]

In [45]:
employee[-3:]                 # it will automatically go to end and get it out,,,last class will also include

['faizan', 22, 'male']

In [46]:
employee[1:]

[22, 'male', 350000, 'faizan', 22, 'male', 350000, 'faizan', 22, 'male']

In [47]:
employee[3:]

[350000, 'faizan', 22, 'male', 350000, 'faizan', 22, 'male']

In [48]:
employee[:3]

['faizan', 22, 'male']

In [49]:
employee[3]

350000

In [50]:
employee

['faizan',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male']

In [51]:
employee.append         # .append is a method not function

In [54]:
employee.insert(1,"AI engineer")   #if we want to add something at specific place

In [55]:
employee

['faizan',
 'AI engineer',
 'AI engineer',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male']

# .append add something at end
# .insert add sth at specific place

In [59]:
employee[0]= "faizan amin"     # to replace somethig   # we can also use -13 for it

In [60]:
employee[0]

'faizan amin'

In [61]:
employee

['faizan amin',
 'AI engineer',
 'AI engineer',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male']

In [64]:
del employee[-1]

In [65]:
employee

['faizan amin',
 'AI engineer',
 'AI engineer',
 22,
 'male',
 350000,
 'faizan',
 22,
 'male',
 350000,
 'faizan']

In [67]:
del employee[7:10]

In [68]:
del employee[2]

In [69]:
employee

['faizan amin', 'AI engineer', 22, 'male', 350000, 'faizan', 'faizan']

In [74]:
employee.remove("faizan")           # to remove sth whose name is known

In [76]:
employee.index("male")        # to know about the index of sth 
                              # but it will tell according to positive indexing

3

In [77]:
employee

['faizan amin', 'AI engineer', 22, 'male', 'faizan']

In [80]:
employee.remove('faizan')

ValueError: list.remove(x): x not in list

In [81]:
del employee[-1]

In [82]:
employee

['faizan amin', 'AI engineer', 22]

In [87]:
employee.append("male")

In [90]:
gender=employee.pop(-1)               # to check and remove from list and but retain at other place

In [89]:
employee

['faizan amin', 'AI engineer', 22]

In [91]:
employee.pop()                          #by default it will delete  last element

'AI engineer'

In [92]:
employee

['faizan amin']

# all methods will be in small brackets

In [93]:
# salary = [employee.pop()]
# salary.append()

In [94]:
employee1 = ['waqas', 27,'male',350000]
employee2 = ['faizan',22,'male',300000]

In [95]:
employees = [employee1,employee2,['khurram',25,'male',320000],['saad',26,'male',330000]]                            # lsit can be in list

# every list is a  datatype which has only one index totally

In [97]:
len(employees)                         # to know about information of total atoms in a list

4

In [98]:
total_salary = employees[0][-1]+employees[1][-1]+employees[-2][-1]+employees[-1][-1] #to know the sum salary of all employees in a list

In [99]:
total_salary

1300000

# for loops

In [108]:
tot_salary = 0              #if want to add then 0 and if multiply 1
for item in employees:                                                 # if the detail of the employeee has passed then it will loop free
      tot_salary += item[-1]

In [110]:
tot_salary

1300000

In [111]:
salary=[]
for i in employees:
    salary.append(i[-1])

In [112]:
salary

[350000, 300000, 320000, 330000]

In [124]:
salary_with_name=[]
for i in employees:
    salary_with_name.append([i[0],i[3]])

In [125]:
print(salary_with_name)

[['waqas', 350000], ['faizan', 300000], ['khurram', 320000], ['saad', 330000]]

In [120]:
for i in range(10):
    print(i,"waqas")

0 waqas
1 waqas
2 waqas
3 waqas
4 waqas
5 waqas
6 waqas
7 waqas
8 waqas
9 waqas

# conditional statements

# comparison operator
* == eqaulity/equal to 
* != not  equals to
* > greater than
* < less than 
* >= greater than and equal to 
* <= less than and equal to

In [126]:
employees

[['waqas', 27, 'male', 350000],
 ['faizan', 22, 'male', 300000],
 ['khurram', 25, 'male', 320000],
 ['saad', 26, 'male', 330000]]

In [127]:
salary_gr_250k = 0                              # minium requirement is one space and best practice is four space
for i in employees:
    salary=i[-1]
    if salary >= 250000:                            #it will first start from salary of waqas and then if if it is greateerr than 250000 then it will add salary
        salary_gr_250k+= salary

In [128]:
salary_gr_250k

1300000

In [130]:
if 2==2:
    print("ok")

ok

In [132]:
if 2==3:
    print("ok")

In [133]:
2==2

True

In [135]:
c = True

In [136]:
print(c)

True

In [137]:
type(c)                             # true is boolean expression

bool

In [139]:
a = False
print(a)
type(a)

False

bool

In [6]:
username="Romail"
password="123"
if username == "Romail":
    print("Valid username")
    if password == "123":
        print("valid password")
        
    else:
        print("invalid password")
else:
    print("invalid username")

Valid username
valid password

In [143]:
"waqas"=="Waqas"

False

In [2]:
if username.lower()=="Waqas":
    print("correct username")

In [154]:
username ==("waqas")
password ==1234

NameError: name 'password' is not defined

In [155]:
username='waqas'
password='1234'

In [ ]:
if username =="waqas" and

In [164]:
marks = 75

In [165]:
if marks>90:
    print("A grade")
    
elif marks>65:                   # elif= else if
    print("c grade")

c grade